*{
    margin: 0;
    color: black;
    font-family: poppins;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    margin-left: 15%;
    margin-right:15%;
}
/*cabeçalho*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 0  
}
header h1 {
    font-size: 30px;
    text-decoration: underline;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    
}
#menu a{
    text-decoration: none;
}
#menu a:hover {
    color: #575455;
}

/*apresentação*/

.apresentacao {
    display: flex;
    
    justify-content: space-between;
}


#headerCta h1 {
    font-size: 45px;
}

#headerCta p {
    color: #575455;
    margin-top: 30px;
    margin-bottom: 30px;
}

#buttonCta{
    background-color: #1F7CFF;
    color: white;
    padding: 10px 25px;
    border-radius:50px;
    text-wrap: nowrap;
    text-decoration:none;
}

.clientes {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
    align-items: center;
}
/*Services*/

.conheca-servicos{
    text-align: center;
}

.red {
    color: #F75C4E;
    font-size: 16px;
}
.conheca-servicos .black {
    font-size: 36px;
    
}
.desc {
    color: #575455;
    line-height: 30px;
}
.services{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}
.textCenter {
    text-align: center;
    line-height: 30px;
}

/*contact*/

.contato-email{
    display: flex;
    gap: 5.5%;
    align-items: center;
}
.contato-email h1 {
    font-size: 36px;
    line-height: 60px;
}

.contato-email .email{
    height: 48px;
    width: 406px;
    background-color: #F5F6FB;
    color: #575455;
    border-radius: 50px;
    margin-bottom: 0px;
    padding-left: 32px;
    font-size: 16px;
    border: 0px;
}
.contato-email .enviar {
    background: #1F7CFF;
    width: 130px;
    height: 48px;
    border: 0px;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.portfolio-title .black{
    font-size: 36px;
}
.portfolio-img{
    display: flex;
    justify-content: space-between;
}
.creditos {
    text-align: center;
}